.intro {
  position: relative;
  min-height: 100vh;
  @include section-bg("../../img/welcom-bg.png");
  @media (max-height: 524px) {
    height: auto;
    padding-bottom: 5rem;
  }
}
.intro-slogan {
  max-width: 77.5rem;
  margin: 5% auto 0;
  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
}
.btn-list {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  li {
    &:first-child {
      margin-right: 5%;
    }
  }
}
.scroll-item {
  display: block;
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 3.5rem;
  height: 3.5rem;
  transform: translateX(-50%);
  @include small-bg("../../img/scroll-circle.png");
  background-color: transparent;
  border: none;
  text-indent: -9999px;
}