.our-services {
  padding:  10rem 0;
  background: $primary-color;
}
.services-list {
  li {
    margin-bottom: 50rem;
    &:before {
      @include pseudo('', block);
      width: 15rem;
      height: 15rem;
      border: 1px solid $secondary-color;
      border-radius: 50%;
      margin: 0 auto 3rem;
    }
  }
}
.print-design {
  &:before {
    @include small-bg("../../img/print-design-icon.png");
  }
}
.web-design {
  &:before {
    @include small-bg("../../img/Web-design-icon.png");
  }

}
.app-design {
  &:before {
    @include small-bg("../../img/app-design-icon.png");
  }
}
.logo-design {
  &:before {
    @include small-bg("../../img/logo-design-icon.png");
  }
}
