$brand-orange: #f7600e;
$brand-hover-orange:  rgba(247, 96, 14, .85);
$primary-white: #fff;
$text-dark-blue: #3b434c;
$secondary-dark-blue: #3b434c;
$dots-dark-orange: #ac704f;



$brand-color: $brand-orange;
$brand-hover-color: $brand-hover-orange;
$primary-color: $primary-white;
$secondary-color: $secondary-dark-blue;
$text-color: $text-dark-blue;
$slider-dots-color: $dots-dark-orange;