$brand-orange: #f7600e;
$primary-white: #fff;
$text-dark-blue: #3b434c;
$secondary-dark-blue: #3b434c;



$brand-color: $brand-orange;
$primary-color: $primary-white;
$secondary-color: $secondary-dark-blue;
$text-color: $text-dark-blue;