
.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: .3s;
  font-size: 1.6rem;
  padding: 0.9375em 1.25em;
  color: $primary-color;
  text-transform: uppercase;
  @include border-radius(1rem);
  //@media (min-width: 768px)and(max-width: 991px) {
  //  font-size: 1.3rem;
  //}

  &-bigger {
    padding: 0.9375em 2.8125em;
  }

  &-brand {
    background: $brand-color;
    &:hover {
      background: rgba(247, 96, 14, .5);
    }
  }

  &-border {
    background: transparent;
    border: 1px solid $primary-color;
    &:hover {
      background: $brand-color;
      color: $primary-color;
      border-color: transparent;
    }
  }

  &-menu {
    background: transparent;
  }
}

