.main-footer {
  padding: 5rem 0;
  background: $secondary-color;

  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

  }
  p {
    font-size: 1.6rem;
    color: $primary-color;
    text-transform: uppercase;
  }
  a {
    @include open-sans-bold(1.6rem);
    color: $primary-color;
    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}