.text {
  font-size: 1.4rem;
  line-height: 1.875em;
  color: $text-color;
  text-align: center;

  &-prim-color {
    color: $primary-color;
  }

  &-middle {
    font-size: 1.6rem;
  }
  &-big {
    font-size: 2.5rem;
  }

}


.title {
  @include open-sans-bold(2.5rem);
  color: $text-color;
  text-transform: uppercase;
  text-align: center;

  &-small {
    font-size: 1.6rem;
  }

  &-middle {
    font-size: 3.5rem;
  }
  &-big {
    font-size: 7rem;
  }
  &-prim-color {
    color: $primary-color;
  }
  &-brand-color {
    color: $brand-color;
  }
}
